# Database
# Use the RDS database from Task 2.
# If your RDS initial database is postgres instead of fastapi_prod, change the final path.
DATABASE_URL=postgresql+psycopg2://postgres:PASSWORD@fastapi-db.cv0qqy888ylc.ap-southeast-1.rds.amazonaws.com:5432/fastapi_prod?sslmode=require

# AWS values are used in later tasks.
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=fastapi-app-files-your-id
